* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary
*.svgz binary
*.zip binary
*.gz binary
*.7z binary
*.rar binary
*.woff binary
*.woff2 binary
*.ttf binary
*.otf binary
*.pdf binary
